<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
	<display-name>coinstellation</display-name>

	<welcome-file-list>
		<welcome-file>Catalog.jsp</welcome-file>
	</welcome-file-list>

	<!-- Servlets -->
	<servlet>
		<servlet-name>CatalogServlet</servlet-name>
		<servlet-class>it.coinstellation.controller.CatalogServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>CartServlet</servlet-name>
		<servlet-class>it.coinstellation.controller.CartServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CatalogServlet</servlet-name>
		<url-pattern>/catalog</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>CartServlet</servlet-name>
		<url-pattern>/cart</url-pattern>
	</servlet-mapping>

	<!-- Resources -->
	<resource-ref>
		<description>JNDI reference to a data source</description>
		<res-ref-name>jdbc/CoinstellationDB</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>

</web-app>
